<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {

        });


        function post() {
            let result_array=[];
            for (let i = 1; i <= 12; i++) {
                let data = $('input[name=q'+i+']:checked').val();
                result_array[i-1]=data;
            }
            console.log(result_array)
            $.ajax({
                type: "POST",
                url: "/result",
                data: {"result_array":JSON.stringify(result_array)},
                success: function (response) {
                    if (response["isSuccess"] == "success") {
                            console.log(response)
                    }
                }
            })
        }


    </script>
</head>
<body>
hello world<br>
server for team1
aws test
<div id="a">

        <p>1번 질문</p>
        <label><input type="radio" name="q1" value="1"> 예</label>
        <label><input type="radio" name="q1" value="0"> 아니오</label>
        <p>2번 질문</p>
        <label><input type="radio" name="q2" value="1"> 예</label>
        <label><input type="radio" name="q2" value="0"> 아니오</label>
        <p>3번 질문</p>
        <label><input type="radio" name="q3" value="1"> 예</label>
        <label><input type="radio" name="q3" value="0"> 아니오</label>
        <p>4번 질문</p>
        <label><input type="radio" name="q4" value="1"> 예</label>
        <label><input type="radio" name="q4" value="0"> 아니오</label>
        <p>5번 질문</p>
        <label><input type="radio" name="q5" value="1"> 예</label>
        <label><input type="radio" name="q5" value="0"> 아니오</label>
        <p>6번 질문</p>
        <label><input type="radio" name="q6" value="1"> 예</label>
        <label><input type="radio" name="q6" value="0"> 아니오</label>
        <p>7번 질문</p>
        <label><input type="radio" name="q7" value="1"> 예</label>
        <label><input type="radio" name="q7" value="0"> 아니오</label>
        <p>8번 질문</p>
        <label><input type="radio" name="q8" value="1"> 예</label>
        <label><input type="radio" name="q8" value="0"> 아니오</label>
        <p>9번 질문</p>
        <label><input type="radio" name="q9" value="1"> 예</label>
        <label><input type="radio" name="q9" value="0"> 아니오</label>
        <p>10번 질문</p>
        <label><input type="radio" name="q10" value="1"> 예</label>
        <label><input type="radio" name="q10" value="0"> 아니오</label>
        <p>11번 질문</p>
        <label><input type="radio" name="q11" value="1"> 예</label>
        <label><input type="radio" name="q11" value="0"> 아니오</label>
        <p>12번 질문</p>
        <label><input type="radio" name="q12" value="1"> 예</label>
        <label><input type="radio" name="q12" value="0"> 아니오</label>
        <p><button onclick="post()">제출</button><input type="reset" value="Reset"></p>


</div>
</body>
</html>