<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            get();
        });

        function get() {
            $.ajax({
                type: "GET",
                url: "/test",
                data: {},
                success: function (response) {
                    if (response["isSuccess"] == "success") {
                        console.log("get 성공");
                        $('#a').append(response["test"])
                    }
                }
            })
        }

        function post() {
            const name = $('#name').val();
            const phone = $('#phone').val();
            $.ajax({
                type: "POST",
                url: "/eroomy",
                data: {"name": name, "phone": phone},
                success: function (response) {
                    if (response["isSuccess"] == "success") {
                        console.log("eroomy 성공");
                    }
                }
            })
        }


    </script>
</head>
<body>
hello world<br>
server for team1
<div id="a">
    <input type="text" id="name"><br>
    <input type="number" id="phone">
    <button onclick="post()">전송</button>
</div>
</body>
</html>