<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            get();
        });

        function get() {
            $.ajax({
                type: "GET",
                url: "/test",
                data: {},
                success: function (response) {
                    if (response["isSuccess"] == "success") {
                        console.log("get 성공");
                        $('#a').append(response["test"])
                    }
                }
            })
        }

    </script>
</head>
<body>
hello world<br>
server for team1
<div id="a"></div>
</body>
</html>